@model ElectronicShop.Models.OrderDetail

@{
    ViewBag.Title = "Delete";
}
<div class="container mt-3">
    <h4>Delete orderDetail</h4>


    <h3>Bạn có chắc sẽ xóa?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Order.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>